extends layout

block head
  title Lyrics Centre
  link#mainCSS(rel='stylesheet', href='/stylesheets/main.css')
  script#mainJS(src="/javascripts/main.js")

block content
  .row.d-block.d-sm-flex.min-vh-100
    .col-12.col-sm-4.col.col-md-3.col-lg-2.py-3.d-flex.flex-column.bg-light.border-bottom
      form.d-flex.align-items-center
        input#search.form-control(
          type="search"
          placeholder="Search"
          aria-label="Search for..."
          autocomplete="off"
          spellcheck="false"
        )
        button.btn.btn-link.d-sm-none.p-0.ml-3.collapsed(
          type="button"
          data-toggle="collapse"
          data-target="#songBox"
          aria-controls="songBox"
          aria-expanded="false"
          aria-label="Toggle song list"
        )
          span.navbar-toggler-icon
      form#songBox.mt-3.collapse.d-sm-flex.flex-grow-1
        select#songList.custom-select(size=2)
    main.col-12.col-sm-8.col-md-9.col-lg-10.py-3.px-0.px-sm-1.d-flex(
      role="main"
    )
      .container-fluid.pl-sm-0.d-flex.flex-column
        .row.flex-grow-1
          .col-12.col-lg-6.d-flex.flex-column
            form.d-flex.flex-column.flex-grow-1
              .form-group
                input#inpTitle.form-control(
                  type="text"
                  autocomplete="off"
                  placeholder="Title"
                )
              .form-group.flex-grow-1
                textarea#inpLyric.form-control.h-100(
                  placeholder="Lyrics"
                )
          .col-12.col-lg-6.d-flex.flex-column.pl-lg-0
            #outTitle.mt-lg-2.mx-2.px-1
            small#outId.text-muted.mx-2.px-1.mb-1.user-select-none
            textarea#outLyric.form-control.flex-grow-1.mb-3(
              placeholder="Preview"
              readonly
            )
            form
              .form-group.d-flex.flex-column-reverse.flex-sm-row
                button#delBtn.btn.btn-danger.mr-sm-1(type="button") Delete
                button#newBtn.btn.btn-secondary.flex-grow-1.mr-sm-1.mb-3.mb-sm-0(type="button") New
                button#savBtn.btn.btn-primary.flex-grow-1.mb-1.mb-sm-0(type="button") Save
        .row
          .input-group.col-12
            .input-group-prepend
              label.input-group-text(for="logs") Logs
            span#logs.form-control
            .input-group-append
              button.btn.btn-info(
                type="button"
                data-toggle="modal"
                data-target="#logsModal"
              ) History
  #logsModal.modal.fade(
    tabindex="-1"
    role="dialog"
    aria-labelledby="logsModalLabel"
    aria-hidden="true"
  )
    .modal-dialog.modal-dialog-centered.modal-lg
      .modal-content
        .modal-header
          h5#logsModalLabel.modal-title Logs
          button.close(
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          )
            span(aria-hidden="true") &times;
        .modal-body
          #history.form-control
