extends layout

block head
  title Login - Lyrics Centre
  script#loginJS(src="/javascripts/login.js")

block content
  #login.fixed-top.vw-100.vh-100.d-flex.align-items-center.justify-content-center
    .input-group.col-8
      .input-group-prepend
        label#key.input-group-text.d-block(
          for="token"
          style="background-image:url('/images/key.svg');background-repeat:no-repeat;background-position:center;background-size:70%"
        )
      input#token.form-control(
        type="password"
        placeholder="Access Code"
        aria-label="Access Code"
        aria-describedby="key"
      )
